<div class="top-header">

    <!-- MARKET TICKER -->
        <div class="market-ticker">
        <div class="ticker-track">
            <span>Sensex: <span class="up">72,450 ▲</span></span>
            <span>Nifty: <span class="down">21,980 ▼</span></span>
            <span>Gold: <span class="up">₹62,350 ▲</span></span>
            <span>Silver: <span class="down">₹74,900 ▼</span></span>
            <span>Crude: <span class="up">$82.30 ▲</span></span>
            <span>USD:  <span class="down">₹83.12 ▼</span></span>
            <span>EURO: <span class="up">₹89.50 ▲</span></span>
            <span>GBP: <span class="down">₹104.20 ▼</span></span>

            <!-- duplicate for smooth loop -->
            <span>Sensex: <span class="up">72,450 ▲</span></span>
            <span>Nifty: <span class="down">21,980 ▼</span></span>
            <span>Gold: <span class="up">₹62,350 ▲</span></span>
            <span>Silver: <span class="down">₹74,900 ▼</span></span>
            <span>Crude: <span class="up">$82.30 ▲</span></span>
            <span>USD:  <span class="down">₹83.12 ▼</span></span>
            <span>EURO: <span class="up">₹89.50 ▲</span></span>
            <span>GBP: <span class="down">₹104.20 ▼</span></span>
        </div>
        </div>

 </div>

<nav class="navbar">
    <div class="logo">
        <img src="assets/images/logo/logowithoutbg.png" alt="Fundrisers Finserv logo">
    </div>

    <button class="menu-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="nav-links">
       <!-- <li><a href="#">Home</a></li> -->
        <!-- <li><a href="#">About us</a></li> -->

        <li class="nav-item-has-dropdown services-item">
              <a href="#" class="nav-link-services">Mutual Funds</a>
            <ul class="services-dropdown">
                <li>Equity Funds</li>
                <li>Debat Funds</li>
                <li>Retirement Funds</li>
                <li>Children Benefits Funds</li>
                <li>Hybrid Funds</li>
                <li>Tax Savings Funds ELSS</li>
                 <li>Liquid and Overnight Funds</li>
                 <li>Index Gold Silver ETF Funds</li>
            </ul>
        </li>
         <li class="nav-item-has-dropdown services-item">
                <a href="#" class="nav-link-services">Investment Services</a>
            <ul class="services-dropdown">
                <li>Mutual Funds</li>
                <li>Unlisted Stocks</li>
                <li>Stock Broking/share Trading</li>
                <li>Bonds</li>
                <li>Capital Gain Bonds</li>
                <li>NRI Investments</li>
                <li>Corporate Fixed Deposits</li>
                <li>Fixed Deposists</li>
            </ul>
        </li>
         
         <li class="nav-item-has-dropdown services-item">
                <a href="#" class="nav-link-services">Insurance Services</a>
            <ul class="services-dropdown">
                <li>Life Insurance </li>
                <li>Health Insurance</li>
                <li>Motor Insurance</li>
                <li>Home Insurance</li>
                <li>Commercial Insurance</li>
    
            </ul>
        </li>
         <li class="nav-item-has-dropdown services-item">
                <a href="#" class="nav-link-services">Financial Planing</a>
            <ul class="services-dropdown">
                <li>Financial Planning</li>
                <li>Retirement Planing</li>
                <li>Child Education Planing             </li>
                <li>Travel Planing</li>
                <li>Tax Planing</li>
        
            </ul>
        </li>

        

        <li class="nav-item-has-dropdown tools-item">
                <a href="tools.html" class="nav-link-tools">Tools</a>
            <ul class="tools-dropdown">
                <li>SIP Calculator</li>
                <li>EMI Calculator</li>
                <li>Goal Planning Tool</li>
                <li>Retirement Corpus Estimator</li>
            </ul>
        </li>
      <!--  <li><a href="#">Trading Tips</a></li> -->
        
            <li><a href="contact.html">Contact Us</a></li>
    </ul>

    <button class="cta-btn">Login</button>
</nav>
